.headingcolor1{
  color: #64FFDA;
  font-weight: 300;
}
.headingcolor2{
  color: #CCD6F6;
}
.headingcolor3{
  color: #8892B0;
}
.headingcolor4{
  color: #838DAA;
  font-weight: 400;
}
.headingSize1{
    font-size: 60px;
    font-weight: 700;
}
.headerDesc{
  width: 50%;
}
.profile_pic{
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 3%;
}
.getInTouch{
  background-color: rgb(10, 25, 47);
  font-size: large;
  padding: 1% 3% 1% 3%;
  color: #64FFDA;
  border:1px solid #64FFDA;
  border-radius: 10px;
  margin-top: 2%;
}

.headingContainer{
  margin-top: 9%;
  margin-bottom: 9%;
}

.education{
  margin-top: 6%;
}

.edCard{
  margin-top: 3%;
  background-color: #172A45;
  /* border: 1px solid #64FFDA; */
  height: 33vh;
  display: flex;
  justify-content: space-around;
}
.eduCategory{
  padding-top: 5%;
  font-weight: 500;
  font-size: large;
}
.edCard:last-child{
  padding-bottom: 3%;
}
.experienceLink{
  color: #8892B0;
  font-size: large;
}

.experienceLink:hover{
  color: #64FFDA;
  border-left: 1px solid #64FFDA;
}

.experienceCard{
  background-color: #172A45;
  /* background-color: rgb(10, 25, 47); */
  margin-top: 3%;
  height: max-content;
  width: 80%;
  display: flex;
  border: none;
}

.experienceHeading{
  font-weight: 500;
  font-size: x-large;
  padding: 2% 2% 1% 2%;
}

.bullet{
  color: #64FFDA;
  padding: 1%;
}

.experienceDate{
  padding-left: 2%;
  padding-bottom: 1%;
}
